.instructor-search-bar input::placeholder {
  color: var(--secondaryBlackColor);
  font-size: 17px;
}
/* Remove default focus outlines */
.row-focus-wrapper :focus {
  outline: none;
}

/* Show custom focus only when using keyboard (like Tab) */
.row-focus-wrapper :focus-visible {
  outline: 1px solid black !important;
  outline-offset: 2px;
  border-radius: 4px;
}
.scheduled-calendar .rbc-event-label {
  display: none !important;
}

/* .scheduled-calendar .rbc-event {
  background-color: yellow !important; 
}  */

/* .scheduled-calendar .rbc-event:focus {
  outline: 1px solid black !important;
} */
.scheduled-calendar .rbc-event:focus div.eventSection {
  border: 1px solid black !important;
}
.ant-slider-mark-text {
  color: #272e5c !important;
  opacity: 1 !important; /* â† this is REQUIRED */
  font-weight: 600 !important;
}

.ant-slider-mark > span > div > span {
  color: unset !important;
}

.ant-modal > div[tabindex="0"]:nth-child(2) {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  opacity: 0 !important;
}

.ant-modal-sentinel-end {
  display: none !important;
}

.time-dropdown-btn:focus-visible {
  outline: 2px solid #333333 !important;
}
.class-status-filter-checkbox .ant-checkbox-inner {
  border-width: 2px;
  border-color: #1a1a1a;
  border-radius: 4px;
}
.days-filter-checkbox .ant-checkbox-inner {
  border-width: 2px;
  border-color: #1a1a1a;
  border-radius: 4px;
}
.format-filter-checkbox .ant-checkbox-inner {
  border-width: 2px;
  border-color: #1a1a1a;
  border-radius: 4px;
}
.class-level-filter-checkbox .ant-checkbox-inner {
  border-width: 2px;
  border-color: #1a1a1a;
  border-radius: 4px;
}
.curated-classes-filter-checkbox .ant-checkbox-inner {
  border-width: 2px;
  border-color: #1a1a1a;
  border-radius: 4px;
}
.general-education-filter-checkbox .ant-checkbox-inner {
  border-width: 2px;
  border-color: #1a1a1a;
  border-radius: 4px;
}
.schools-dep-filter-checkbox .ant-checkbox-inner {
  border-width: 2px;
  border-color: #1a1a1a;
  border-radius: 4px;
}
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100%;
  max-width: 600px;
}

/* .rbc-allday-cell, .scheduled-calendar
.rbc-row-content[role="row"] {
  display: none !important;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.time-dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 244px;
  border: 1px solid var(--secondaryLightBlack);
  background-color: var(--lightColor);
  color: var(--secondaryBlackColor);
  font-weight: 400;
}
/* .ant-checkbox-wrapper:focus-within .ant-checkbox {
    outline: 2px solid #000 !important;
    border-radius: 4px;
  } */
.ant-checkbox-input:focus-visible + .ant-checkbox-inner {
  outline: 2px solid #333333 !important;
}

.apply-btn-for-modals {
  background-color: var(--secondaryBlue);
  color: var(--lightColor);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
}
.term-filter-checkbox:hover {
  color: var(--subCategoryColor);
}
.days-filter-checkbox:hover {
  color: var(--subCategoryColor);
}
.format-filter-checkbox:hover {
  color: var(--subCategoryColor);
}
.class-status-filter-checkbox:hover {
  color: var(--subCategoryColor);
}
.class-level-filter-checkbox:hover {
  color: var(--subCategoryColor);
}
.grading-basis-filter-checkbox:hover {
  color: var(--subCategoryColor);
}
.curated-classes-filter-checkbox:hover {
  color: var(--subCategoryColor);
}
.general-education-filter-checkbox:hover {
  color: var(--subCategoryColor);
}
.schools-dep-filter-checkbox:hover {
  color: var(--subCategoryColor);
}
.apply-btn-for-modals:hover {
  background-color: var(--primaryPlumColor);
}
/******************** Calendar css *****************/

.scheduled-calendar .rbc-header[role="columnheader"] {
  role: none !important;
}

.scheduled-calendar .rbc-day-slot .rbc-time-slot {
  border: none !important;
}
.scheduled-calendar .rbc-time-content {
  border-top: 1px solid #d8d8d6 !important;
}
.scheduled-calendar .rbc-time-gutter .rbc-timeslot-group {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--primaryBlue) !important;
  padding: 12px 13px 0 10px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.scheduled-calendar .rbc-button-link {
  font-size: 18px !important;
  font-weight: 700 !important;
  color: var(--primaryBlue) !important;
}
.scheduled-calendar .rbc-time-header-cell,
.rbc-time-header-content .rbc-header {
  display: flex;
  justify-content: center;
  height: 40px;
  border-bottom: none !important;
  width: 100.3%;
}
.scheduled-calendar .rbc-time-view .rbc-row {
  min-height: 1px !important;
}

.scheduled-calendar .rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  border-bottom: 0px solid #c0c0bf !important;
}
.scheduled-calendar .rbc-time-header.rbc-overflowing {
  margin-right: 0px !important;
}
.scheduled-calendar ::-webkit-scrollbar {
  width: 0px;
}
.scheduled-calendar .rbc-day-slot .rbc-event,
.scheduled-calendar .rbc-day-slot .rbc-background-event {
  border: 0px solid var(--lightColor);
  padding: 0 !important;
  background-color: var(--lightColor) !important;
  color: var(--primaryBlue) !important;
  width: 3.41vw !important;
  border-radius: 0px;
  margin: 0 0 0 0;
}
.scheduled-calendar .rbc-day-slot .rbc-event-label {
  display: none;
}
.scheduled-calendar .rbc-today {
  background-color: var(--lightColor) !important;
}
.scheduled-calendar .rbc-time-header-gutter {
  border-bottom: 1px solid #ddd;
}
.scheduled-calendar .rbc-day-bg {
  border-bottom: 1px solid #ddd;
}
.scheduled-calendar .rbc-row-bg {
  top: 21px !important;
}
.scheduled-calendar .rbc-event,
.rbc-day-slot .rbc-background-event {
  outline: #fff !important;
}
/******************** Slider css *****************/
.custom-tooltip {
  background: var(--lightColor);
  color: #2f2f2f;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  text-align: center;
}
.custom-tooltip::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--lightColor);
}

/* .time-dropdown-btn.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  color: #0d6efd !important;
  border: 2px solid #0d6efd !important;
  background: #ffffff !important;
} */
.time-dropdown-btn:hover {
  color: #2f6fdb !important;
  border: 2px solid #2f6fdb !important;
  background: #ffffff !important;
}
.ant-tooltip {
  --antd-arrow-background-color: #f4f4f4;
}
.ant-tooltip .ant-tooltip-inner {
  color: var(--primaryBlue);
  background-color: #f4f4f4;
  box-shadow: 0px 6px 16px 0px #0000005c;
}
.ant-slider .ant-slider-track {
  background-color: #006b81 !important;
  border-radius: 2px;
}
.ant-slider .ant-slider-handle::after {
  background-color: #006b81;
  box-shadow: 0 0 0 6px #6750a41f;
}
.ant-slider .ant-slider-handle-dragging {
  background-color: #006b81 !important;
  box-shadow: 0 0 0 6px #6750a41f;
}
.ant-slider .ant-slider-handle::before {
  background-color: #006b81;
  box-shadow: 0 0 0 6px #6750a41f;
  border-radius: 50%;
}
.ant-slider .ant-slider-dot-active {
  display: none;
}
.ant-slider .ant-slider-dot {
  display: none !important;
}
.general_education_modal {
  min-width: 820px;
}
.general_education_modal_outer {
  width: 780px;
  margin-top: 5px;
}
.general_education_modal_footer {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 15px;
  margin-top: 20px;
}
.general_education_modal_body {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  height: 260px;
  width: 100%;
  gap: 6px;
}
.campus_location_modal_body_inner {
  column-count: 2;
  column-gap: 20px;
}

.campus_location_modal_body_inner>div:nth-child(1) {
  .campus-child {
    display: none !important;
  }
}
.general_education_modal_body_inner {
  /* width: 50%; */
}
.general_education_modal_body_inner_p {
  font-size: 17px;
  font-weight: 400;
}
.daysModal {
  width: 411px;
  max-width: 411px;
}
.dayModalFooter {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 15px;
  margin-top: 10px;
}
.dayModalInnerDiv {
  width: 376px;
  margin: 5px 0 0 0;
}
.dayModalBody {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
  /* height: 16.690451206715634vh; */
  height: 130px;
  gap: 5px;
}
.dayModalBodyCol {
  width: 180px;
}
.dayModalText {
  font-size: 18px;
  font-weight: 700;
  color: var(--primaryBlue);
}
.dayModalInnerText {
  font-size: 17px;
  font-weight: 400;
}
.dayModalFooterBtn {
  font-size: 14px;
  font-weight: 700;
}
/* format  */
.formatModalBodyOuter {
  width: 800px;
  margin: 5px 0 0 0;
}
.formatModalInnerBody {
  margin-top: 15px;
  /* height: 410px; */
}
.formatModalElement {
  width: 50%;
}
.formatModalCheckbox {
  font-size: 17px;
  font-weight: 400;
}
/* curatd class  */
.curatedModalOuterBody {
  margin-top: 5px;
  max-width: 787px;
}
.curatedModalInnerBody {
  margin-top: 15px;
  height: 210px;
}
.curatedModalElement {
  width: 50%;
}
.curatedModalElementText {
  font-size: 17px;
  font-weight: 400;
}
#instructorRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 3.147953830010493vh 0 0 0;
  gap: 1.0493179433368311vh 0.5208333333333334vw;
}
.plusMinus {
  font-size: 28px;
  font-weight: 700;
  color: var(--primaryBlue);
}
.deskTopPlusMinus {
  font-size: 28px;
  font-weight: 700;
  color: var(--primaryBlue);
  line-height: 100%;
  margin-bottom: 6px;
  cursor: pointer;
}
.expandButtonDiv {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.expandButtonDiv:hover {
  /* text-decoration: none; */
}

.expandButton {
  border: none;
  background-color: white;
  color: rgb(39, 46, 92);
  font-size: 14px;
  font-weight: 700;
}
#daysRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 3.147953830010493vh 0 0 0;
  gap: 1.0493179433368311vh 0.5208333333333334vw;
}
#timeRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0 0 0;
  gap: 10px;
}
#formatRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0px 0px 0px;
  gap: 10px;
}
#classStatusRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0 0 0;
  gap: 10px;
}
#classLevelRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0 0 0;
  gap: 10px;
}
#numberUnits {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0 0 0;
  gap: 10px;
}
#curatedRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0 0 0;
  gap: 10px;
}
#genEduRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0 0 0;
  gap: 10px;
}
#schAndDeptRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0 0 0;
  gap: 10px;
}
#instructorInput {
  width: 244px;
  height: 36px;
  font-size: 17px;
}
.dayCheckBoxM {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.countPara {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 0px;
}
#filterOuterDiv {
  background-color: var(--lightColor);
  width: 100%;
  height: calc(100% - 69px);
  overflow: auto;
  margin: 15.4px 0 0 0;
  padding: 6.295907660020986vh 3.125vw 2.49317943336831vh 2.0833333333333335vw;
  box-shadow: 0px 0px 0.4197271773347324vh 0px #00000040;
}
.numUnitsOuterDiv {
  width: 100%;
  margin: 5px 0 0 0;
}
.timeOuterDiv {
  width: 100%;
  margin: 5px 0 0 0;
}
#filterHeadDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 2400px) {
  .filterOuterDiv > div {
    min-height: 800px;
    height: unset !important;
  }
  #filterOuterDiv {
    height: 900px;
  }
}
@media only screen and (max-width: 991px) {
  .general_education_modal_outer {
    width: 100%;
    margin-top: 5px;
  }
  .general_education_modal_footer {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 15px;
    margin-top: 20px;
  }
  .general_education_modal_body {
    margin-top: 15px;
    min-height: 210px;
    height: auto;
    width: 100%;
  }
  .general_education_modal_body_inner {
    width: 50%;
  }
  .general_education_modal_body_inner_p {
    font-size: 17px;
  }
  .filterOuterDiv {
    position: fixed;
    right: 350px;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    padding: 20px;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    z-index: 10;
  }
  .filterOuterDiv.show {
    right: 0;
  }
  .calender {
    position: fixed;
    right: 350px;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    padding: 20px;
    overflow-y: auto;
    transition: right 0.5s ease-in-out;
    z-index: 10;
    /* display: none; */
  }
  .calender.show {
    right: 0px;
    transition-delay: 2s;
  }
  #calender_modal_close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    color: var(--primaryBlue);
    font-weight: 600;
  }
  #instructorRow {
    justify-content: space-between;
  }
  #daysRow {
    justify-content: space-between;
  }
  #timeRow {
    justify-content: space-between;
  }
  #formatRow {
    justify-content: space-between;
  }
  #classStatusRow {
    justify-content: space-between;
  }
  #classLevelRow {
    justify-content: space-between;
  }
  #numberUnits {
    justify-content: space-between;
  }
  #curatedRow {
    justify-content: space-between;
  }
  #genEduRow {
    justify-content: space-between;
  }
  #schAndDeptRow {
    justify-content: space-between;
  }
  #instructorInput {
    width: 100%;
  }
  #filterOuterDiv {
    padding-top: 30px;
  }
  .outlinedBtn {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .formatModalBodyOuter {
    width: 100%;
    margin: 5px 0 0 0;
  }
}
@media only screen and (max-width: 576px) {
  .dayModalFooter {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 15px;
    margin-top: 10px;
  }
  .dayModalInnerDiv {
    width: 300px;
  }
  .dayModalBody {
    height: auto;
    margin-top: 0px;
  }
  .dayModalBodyCol {
    /* width: 145px; */
    width: 100%;
  }
  .dayModalText {
    margin-top: 0px;
  }
  .formatModalCheckbox {
    font-size: 15px;
    font-weight: 400;
  }
  .formatModalInnerBody {
    height: auto;
  }
  .formatModalBodyOuter {
    width: 100%;
    margin: 5px 0 0 0;
  }
  .curatedModalInnerBody {
    height: auto;
  }
  .curatedModalElementText {
    font-size: 16px;
    font-weight: 400;
  }
  .general_education_modal_body_inner {
    width: 100%;
  }
}
@media only screen and (width > 991px) {
  .calender {
    display: none;
  }
}

@media screen and (max-width: 1000px) and (max-height: 460px) {
  .filterOuterDiv > div {
    height: 66vh !important;
  }
}

@media only screen and (max-width: 435px) {
  .filterOuterDiv {
    z-index: 1;
    position: absolute !important;
    top: 100px !important;
  }
  .dayViewWidth {
    width: 100%;
  }
  /* .showResultButton{
      height: 40px;
      width:140px;
    } */
  .campus_location_modal_body_inner {
    column-count:  unset;
    column-gap: unset;
  }
}
@media only screen and (max-width: 400px) {
  .dayModalInnerDiv {
    width: 270px;
  }
  .dayModalBody {
    height: auto;
  }
  .dayModalBodyCol {
    /* width: 130px; */
    width: 100%;
  }
  .dayModalInnerText {
    font-size: 15px;
  }
  .dayModalFooterBtn {
    font-size: 12px;
  }
  .formatModalElement {
    width: 100%;
  }
  .curatedModalElement {
    width: 100%;
  }
}

@media only screen and (max-width: 290px) {
  .dayModalFooter {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
    margin-top: 10px;
  }
}

.focus-visible {
  outline: 4px solid #426392 !important;
  outline-offset: 2px;
  border-radius: 4px;
}
