.container .search-bar-input {
  width: 520px;
  height: 38px;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 0 6px 6px 0;
  border: 1px solid #ababa9;
}
.setletctTerm .ant-radio-wrapper .ant-radio-inner {
  border-width: 2px;
  border-color: #1a1a1a;
  /* border-radius: 4px; */
}
.container .search-bar-input input::placeholder {
  display: flex;
  align-items: center;
  color: #767674;
  font-size: 14px;
  font-weight: 400;
}

.submenu-close-icon {
  font-size: 20px;
  color: #666;
  cursor: pointer;
}
.selectSubjectMenu > div:nth-child(2) {
  min-width: 42vw !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}
.selectSubjectButton {
  height: 42px;
  width: 130px;
  border-radius: 6px;
  margin-right: 15px;
  color: white;
  background-color: var(--subCategoryColor);
  border: 1px solid #007c92;
  font-weight: 700;
}
.termFocus:where(.css-dev-only-do-not-override-1v28nim).ant-btn:not(
    :disabled
  ):focus-visible {
  outline: 3px solid #4096ff;
  outline-offset: 1px;
  transition: outline-offset 0s, outline 0s;
}
.subjects-btn:focus-visible {
  outline: 2px solid #333333 !important;
  outline-offset: 2px;
}
.dropdown-trigger:hover {
  /* text-decoration: underline; */
  cursor: pointer;
}
.dropdown-trigger {
  .ant-checkbox-inner {
    border-width: 2px;
    border-color: #1a1a1a;
    border-radius: 4px;
  }
}

/* #mainHead_winterBtn__3cCb8:focus-visible {
  outline: 2px solid #333333;
} */
.container .subjects-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 160px;
  border: 1px solid #ababa9;
  background-color: #ffffff;
  color: #272e5c;
  font-size: 0.94vw;
  font-weight: 700;
  gap: 10px;
  border-radius: 6px 0 0 6px;
}
#subSubjectOuterDiv {
  display: grid;
  flex-direction: column;
  padding: 25px 35px 35px 40px;
  max-height: none;
  grid-template-columns: repeat(2, 1fr);
  width: 1000px;
}
.subSubjectInnerDiv {
  height: auto;
  width: 736px;
}
.subSubjectElement {
  width: 90%;
  min-height: 35px;
}
#subSubjectText {
  font-size: 16px;
  font-weight: 400;
  color: var(--primaryBlue);
}
#hamburger_icon_div {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#clearAllFilters {
  display: flex;
  align-items: center;
}
#classSearchText {
  font-size: 51px;
  font-weight: 600;
  color: var(--primaryBlue);
  font-family: "'Playfair Display', serif";
  line-height: 40px;
}
#mainHeadDescText {
  font-size: 28px;
  font-weight: 400;
  color: var(--primaryBlue);
}
.mainHead_Outer_Div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.ant-dropdown-menu-vertical {
  overflow-y: visible !important;
}
/* Responsiveness  */
@media screen and (max-width: 1000px) and (max-height: 1500px) {
  .subject_content {
    min-height: 400px !important;
  }
}

@media only screen and (max-width: 1680px) {
  #subSubjectOuterDiv {
    display: grid;
    flex-direction: column;
    padding: 25px 35px 35px 40px;
    max-height: none;
    grid-template-columns: repeat(2, 1fr);
    width: 890px;
  }
  .subSubjectInnerDiv {
    height: auto;
    width: 616px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
  }
  #subSubjectText {
    font-size: 16px;
    font-weight: 400;
    color: var(--primaryBlue);
  }
}
@media only screen and (max-width: 1440px) {
  .subSubjectInnerDiv {
    height: auto;
    width: 516px;
  }
  #subSubjectText {
    font-size: 15px;
    font-weight: 400;
    color: var(--primaryBlue);
  }
}
@media only screen and (max-width: 1280px) {
  #subSubjectOuterDiv {
    display: grid;
    flex-direction: column;
    padding: 25px 35px 35px 40px;
    max-height: none;
    grid-template-columns: repeat(2, 1fr);
    width: 800px;
    /* width: 300% */
  }
  .subSubjectInnerDiv {
    height: auto;
    width: 470px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
  }
  #subSubjectText {
    font-size: 15px;
    font-weight: 400;
    color: var(--primaryBlue);
  }
}
@media only screen and (max-width: 992px) {
  #subSubjectOuterDiv {
    display: grid;
    flex-direction: column;
    padding: 25px 35px 35px 40px;
    max-height: none;
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
    max-height: none;
  }
  .subSubjectInnerDiv {
    height: auto;
    width: 550px;
  }
  #hamburger_icon_div {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  #subSubjectOuterDiv {
    display: grid;
    flex-direction: column;
    padding: 25px 35px 35px 40px;
    max-height: none;
    grid-template-columns: repeat(2, 1fr);
    width: 500px;
  }
  .subSubjectInnerDiv {
    height: auto;
    width: 400px;
  }
  #clearAllFilters {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 650px) {
  #subSubjectOuterDiv {
    display: grid;
    flex-direction: column;
    padding: 25px 35px 35px 40px;
    max-height: none;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
  }
  .subSubjectInnerDiv {
    height: auto;
    width: 350px;
  }
  #clearAllFilters {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 576px) {
  #subSubjectOuterDiv {
    display: grid;
    flex-direction: column;
    padding: 25px 35px 35px 40px;
    max-height: none;
    grid-template-columns: repeat(2, 1fr);
    width: 350px;
  }
  .subSubjectInnerDiv {
    height: auto;
    width: 290px;
  }
  .container .subjects-btn {
    width: auto;
    gap: 0px;
  }
  #classSearchText {
    font-size: 24px;
    line-height: 30px;
  }
  #mainHeadDescText {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .mainHead_Outer_Div {
    gap: 10px;
  }
  .container .search-bar-input {
    padding: 0 10px 0 10px;
  }
}
@media only screen and (max-width: 470px) {
  #subSubjectOuterDiv {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    max-height: none;
  }
  .subSubjectInnerDiv {
    height: auto;
    width: 350px;
  }
  #hamburger_icon_div {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 410px) {
  #subSubjectOuterDiv {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    max-height: none;
  }
  .subSubjectInnerDiv {
    height: auto;
    width: 300px;
  }
  #hamburger_icon_div {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 360px) {
  #subSubjectOuterDiv {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    max-height: none;
  }
  .subSubjectInnerDiv {
    min-height: 873px;
    height: auto;
    width: 270px;
  }
  #subSubjectText {
    font-size: 14px;
    font-weight: 400;
    color: var(--primaryBlue);
  }
}






/* Page wrapper */
.classSearchPage {
  padding: 0px 20px;
}

/* Two-column layout */
.classSearchLayout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.classSearchHeaderDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDEBAR */
.filterSidebar {
  flex: 0 0 calc(29% - 24px);
  max-width: calc(29% - 24px);
  border: 1px solid #e5e7eb;
  padding: 16px;
  background: #fff;
  margin-bottom: 75px;
}
.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterTitle {
  font-size: 18px;
  font-weight: 600;
  color: #1f2a60;
  margin-bottom: 16px;
}
.clearAll {
  font-size: 14px;
  font-weight: 700;
  color: rgb(1, 104, 149);
  cursor: pointer;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.expandAll {
  display: flex;
  justify-content: flex-end;
}
.expandAll span {
  font-size: 14px;
  text-decoration: underline;
  font-weight: 700;
  color: rgb(39, 46, 92);
  cursor: pointer;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
/* Individual filter */
.mainfilter {
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterSidebar::-webkit-scrollbar {
  display: none;
}

.filterHeading {
  font-size: 20px;
  font-weight: 600;
  color: rgb(39, 46, 92);
  margin: 0px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

/* RIGHT CONTENT */
.classSearchContent {
  flex: 1;
}

.classSearchTitle {
  font-size: 44px;
  font-weight: 700;
  color: #1f2a60;
  margin: 0 0 16px 0;
}

.classSearchDesc {
  font-size: 28px;
  font-weight: 400;
  color: #272e5c;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.classstatus {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(39, 46, 92);
  margin: 30px 0 0 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  justify-content: space-between;
}
.classstatusfont {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}

/* RESPONSIVE (mobile) */
@media (max-width: 992px) {
  /* .classSearchLayout {
    flex-direction: column;
  } */

  .filterSidebar {
    width: 100%;
  }
}
