@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;600;700&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap");
@font-face {
  font-family: Stanford;
  font-weight: 300;
  src:
    url(https://www-media.stanford.edu/assets/fonts/stanford.woff)
      format("woff"),
    url(https://www-media.stanford.edu/assets/fonts/stanford.ttf)
      format("truetype");
}

.firstHeading {
  display: flex;
  padding: 0 1.5625vw 0 4.6875vw;
  justify-content: space-between;
}
.studnet-service {
  font-size: 18px;
  font-weight: 700 !important;
  color: #2e2d29;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.admin-resource {
  font-size: 16px;
  font-weight: 400;
  color: #016895;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.firstCol {
  font-size: 16px;
  font-weight: 700;
  color: #016895;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.firstCol:hover {
  text-decoration: unset;
  color: black;
}
.secondFooter {
  width: 100%;
  height: auto;
  background-color: #651c32;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  gap: 50px;
}
.secondFooterFirstText {
  font-feature-settings: "liga";
  color: #fff;
  display: inline-block;
  font-family:
    Stanford,
    "Source Serif 4",
    "Source Serif Pro",
    Georgia,
    Times,
    Times New Roman,
    serif;
  font-size: 2.13rem;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0.75;
  text-decoration: none;
  text-transform: none;
  transform: translateZ(0);
}
.secondFooterFirstCol {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 0 50px;
}
.secondFooterSecCol {
  display: flex;
  gap: 2.5vw;
  margin: 0;
}

.secondFooterSecCol a {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  text-decoration: none;
}

.secondFooterThirdCol {
  display: flex;
  gap: 2.5vw;
}
.secondFooterThirdCol a {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.secondFooterFourthdCol {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
