
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;600;700&display=swap");


.myclassesFont {
  font-size: 51px;
  font-weight: 700;
  font-family: Source Serif Pro ;
  line-height: 56.1px;
  color: #272e5c;
  text-align: center;
}
